<h1>Current Order</h1>
<p><b>Total: </b>${{ total }}</p>
<section class="flex flex-col gap-2">
{{#each items}}
  <article class="border-4 border-black p-2 bg-green-400">
    {{#if (isRegular ../user.role)}}
      <form action="/orders/{{ this.food.id }}/delete" method="POST">
        <input class="p-2 font-bold bg-yellow-400 cursor-pointer" type="submit" value="Delete from Order">
      </form>
    {{/if}}
    <p><b>Amount: </b>{{ this.amount }}</p>
    <p><b>Food Name: </b>{{ this.food.name }}</p>
    <p><b>Single Price: </b>${{ this.food.price }}</p>
    <p><b>Partial Total: </b>${{ mul this.amount this.food.price }}</p>
  </article>
{{/each}}
</section>