<h1 class="text-4xl font-bold text-center">Food</h1>

<!-- Add Food -->
{{#if (isAdmin user.role)}}
  <a class="inline-block p-2 text-lg font-bold text-white bg-red-700" href="/food/addFood">Add Food</a>
{{/if}}

<!-- FoodSection -->
<section class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
{{#each food}}
  <article class="border-8 rounded-tr-2xl rounded-bl-2xl border-blue-600 p-4 flex flex-col gap-2 bg-blue-50">
    <img class="w-100 h-56 rounded-tr-2xl rounded-bl-2xl" src="{{ this.image }}" alt="{{ this.name }}">
    {{#if (isAdmin ../user.role)}}
      <div class="flex gap-2">
        <a class="inline-block h-max rounded-md px-2 py-1 text-md font-bold bg-yellow-400 hover:bg-yellow-500 transition-colors" href="/food/{{ this.id }}/edit">Edit</a>
        <a class="inline-block h-max rounded-md px-2 py-1 text-md font-bold text-white bg-red-700 hover:bg-red-800 transition-colors" href="/food/{{ this.id }}/delete">Delete</a>
      </div>
    {{/if}}
    {{#if (isRegular ../user.role)}}
      <form action="/orders/{{ this.id }}/add" method="POST">
        <input class="inline-block h-max rounded-md px-2 py-1 text-md font-bold text-white bg-blue-700 cursor-pointer hover:bg-blue-800 transition-colors" type="submit" value="Add to Current Order">
      </form>
    {{/if}}

    <div class="flex justify-between items-center">
      <div class="flex gap-2 justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
          <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
        </svg>
        <h3 class="text-xl font-bold">{{ this.name }}</h3>
      </div>
      <div>
        <p class="text-md font-bold">${{ this.price }}</p>
      </div>
    </div>

    <!-- Categories -->
    <h4 class="text-lg font-bold">Categories:</h4>
    {{#if this.categories}}
    <ul>
      {{#each this.categories}}
        <li>{{ this.category.name }}</li>
      {{/each}}
    </ul>
    {{else}}
      <p>No Category specified</p>
    {{/if}}
    <!-- /Categories -->
  </article>
{{/each}}
</section>
<!-- /FoodSection -->