<h1>Add Food</h1>
<form action="/food/addFood" method="POST">
  <input type="text" name="name" placeholder="Name..." value="{{ foodData.name }}">
  <input type="number" name="price" placeholder="Price..." value="{{ foodData.price }}">
  <textarea name="description" cols="30" rows="10" placeholder="Description...">{{ foodData.description }}</textarea>
  <input type="text" name="image" placeholder="Image..." value="{{ foodData.image }}">
  <select name="categories" multiple>
    <option value="no-category" selected>No Category</option>
    {{#each categories}}
      <option value="{{ this.id }}">{{ this.name }}</option>
    {{/each}}
  </select>
  <input type="submit" value="Add">
</form>

<h2>Add Category</h2>
<form action="/food/addCategory?next=/food/addFood" method="POST">
  <input type="text" name="name" placeholder="Category...">
  <input type="submit" value="Add">
</form>